.question--container{
    border-bottom: 2px solid #DBDEF0;
    padding-bottom: 0.5rem;
}
.radio-buttons {
    display: flex; /* Use Flexbox to arrange buttons in a row */
    flex-wrap: wrap;
    align-items: center;
    
    list-style: none; /* Remove default list styles */
    
    padding: 0; /* Remove padding */
    margin-top: 1.5rem;
    gap: 1rem;
}
  
.radio-buttons li {
    margin-right: 1rem; /* Space between buttons */
}
  
input[type='radio'] {
    display: none; /* Hide the default radio button */
}

.radio-label {
    padding: 0.425rem 1.25rem; /* Padding for the button (10px = 0.625rem, 20px = 1.25rem) */
    background-color: white; /* Default background color */
    border: 0.125rem solid #293264; /* Border for the button (2px = 0.125rem) */
    border-radius: 1rem; /* Rounded corners (5px = 0.3125rem) */
    cursor: pointer; /* Pointer on hover */
    transition: background-color 0.3s, border-color 0.3s; /* Smooth transition */
}

input[type='radio']:checked + .radio-label {
    background-color: #DBDEF0; /* Background color when selected */
    color: #293264; /* Text color when selected */
    border-color: #DBDEF0; /* Border color when selected */
}

.incorrect-option {
    padding: 0.425rem 1.25rem; /* Padding for the button (10px = 0.625rem, 20px = 1.25rem) */
    border: 0.125rem solid #F8BCBC; /* Border for the button (2px = 0.125rem) */
    border-radius: 1rem; /* Rounded corners (5px = 0.3125rem) */
    cursor: pointer; /* Pointer on hover */
    transition: background-color 0.3s, border-color 0.3s; /* Smooth transition */
    background-color: #F8BCBC;
    color: #293264; /* Text color when selected */
}

.correct-option{
    padding: 0.425rem 1.25rem; /* Padding for the button (10px = 0.625rem, 20px = 1.25rem) */
    border: 0.125rem solid #94D7A2; /* Border for the button (2px = 0.125rem) */
    border-radius: 1rem; /* Rounded corners (5px = 0.3125rem) */
    cursor: pointer; /* Pointer on hover */
    transition: background-color 0.3s, border-color 0.3s; /* Smooth transition */
    color: #293264; /* Text color when selected */
    background-color: #94D7A2;
}


/* Responsive styles */
@media (max-width: 600px) {
    .question--title {
        font-size: large;   
    }

    .radio-buttons {
        flex-direction: column; /* Stack buttons on top of each other */
    }

    .radio-buttons li {
        margin-bottom: 2rem; /* Space below buttons when they stack */
        margin-right: 0; /* Remove right margin in vertical layout */
    }
}

.question--title {
    width: 70vw;
}