@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Karla';

  background-image: url('/blob1.png'), url('blob2.png');
  background-position: top right, bottom left;
  background-repeat: no-repeat, no-repeat;
}

.quizzical--button {
  @apply
   bg-blue-700
   hover:bg-blue-800
    text-slate-50 
    text-xl
    my-8
    md:text-3xl
    rounded-xl 
    px-6 py-3 
    cursor-pointer;
  transition: transform 0.2s, box-shadow 0.2s; /* Smooth transition for press effect */
}

.quizzical--button:hover {
  transform: scale(1.02); /* Button grows slightly on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Add a glowing shadow effect */
}

.quizzical--button:active {
  transform: scale(0.95) translateY(2px); /* Button shrinks and moves down slightly */
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2); /* Add a pressed shadow effect */
}